<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="mb-4 fw-bold">Edit Cat Breed</h1>
      <p class="mb-4">Update information about this cat breed. Accuracy is important for our cat encyclopedia.</p>

      <%= render "form", cat: @gato %>
    </div>
  </div>
</div>
